@import "../../Shared/Style/flex.scss";
@import "../../Shared/Style/font.scss";
@import "../../Shared/Style/color.scss";

.escape {
  width: 100%;
  height: 100vh;
  min-height: 600px;

  .escapeContainer {
    width: 100%;
    height: calc(100% - 90px);
    @include flexCenterV();
    gap: 50px;
    p {
      width: 100%;
      padding: 0 50px;
      font-size: $fontSize;
      text-align: center;
      line-height: 1.5;
    }
    .shareBtn {
      margin: 20px 0;
      padding: 5px 15px;
      font-size: $fontSize;
      background-color: white;
      color: black;
      cursor: grab;
      transition: background-color 0.5s, color 0.5s;
      &:hover {
        background-color: $mainColor;
        color: black;
      }
    }
  }
}
