@import "../../Shared/Style/flex.scss";
@import "../../Shared/Style/font.scss";

.admission {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  .admissionHint {
    width: 100%;
    font-size: $fontSize;
    position: absolute;
    left: 20px;
  }

  .admissionContainer {
    width: 100%;
    height: calc(100% - 90px);
    padding: 20px 20px 50px;
    @include flexCenterV();
    gap: 150px;
    .admissionBox {
      width: 100%;
      @include flexCenterV();
      gap: 20px;
      h4 {
        font-size: 2rem;
      }
    }
    .admissionDescription {
      width: 100%;
      font-size: $fontSize;
    }
  }
}
